<!DOCTYPE html>
<html lang='en'>
<head>
  <meta charset='UTF-8' />
  <meta name='viewport' content='width=device-width, initial-scale=1.0' />
  <meta http-equiv='X-UA-Compatible' content='ie=edge' />
  <title><%= documentTitle %></title>
  <link rel='stylesheet' type='text/css' href='static/styles/reset.css'>
  <link rel='stylesheet' type='text/css' href='static/styles/style.css'>
</head>
<body>
  <div class='hero'>
    <h1><%= message %></h1>
    <h3><%= subTitle %></h3>
  </div>

  <% if (showMore === true) { %>
  <div class='more'>
  <p>Ada Quotes is a compilation of favorite quotes from the students of NYC-WDI-Ada. It's super cool and great.</p>
  </div>
  <% } %>

  <p>We have quotes by <% quoteAuthors.forEach(function(author, index) { %>
    <% if (index !== quoteAuthors.length - 1) { %>
      <%= author %>,
    <% } else { %>
      <%= author%>
    <% } %>
  <% }) %>.</p>
    
</body>
</html>